{
  "carbonHost":   "localhost",
  "carbonPort":   2003,
  "scriptPath":   "/full/path/to/scripts/dir",
  "fqdn":         "fqdn.of.this.server",
  "sampleInterval": 10,
  "sendEach": 6,
  "maxFailedSens": 10000,
  "namespace": "hoard"
}
